<ion-view view-title="درباره ی ما">
    <ion-content>
        <div class="list">
                <div class="item item-thumbnail-left ">
                    <img src="img/b.png" class="animated fadeInLeftBig">
                    <h2 class="animated fadeInRightBig" style="margin-top: 15px">B! Software</h2>
                    <p class="animated fadeInRightBig"><strong>Email:</strong> B-Software@outlook.com</p>
                </div>

            <div class="item item-divider animated zoomIn">
                Creator:
            </div>


        <div class="card" style="box-shadow: 10px 10px 5px #888888">
            <ul class="item item-text-wrap row">
                <li class="col">
                    <img src="img/ps.png" height="100%" width="100%" class="animated fadeInDownBig">
                </li>

                <li class="col col-75">
                    <h2 class="animated fadeInDownBig"  style="margin-top: 10px; margin-left: 20px  "><strong>Sepehr Behnami</strong></h2>
                        <a class="item item-icon-left animated fadeInDownBig" href="#">
                        <i class="icon ion-social-linkedin animated fadeInDownBig"></i>
                        linkedin Profile
                        </a>
                </li>
            </ul>
        </div>
            </div>

    </ion-content>

</ion-view>



